@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root {
  --lineborder-fill: #35d835;
  --lineborder-empty: #070606;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(56, 53, 53);
  margin: 0;
  /* height: 100vh; */
  height: 5000px;
  /* overflow: hidden; */
}
.containeroutside {
  margin-top: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 999;
  top: 15px;
  left: auto;
}

.container {
  text-align: center;
}

.lineprogress-container::before {
  content: '';
  background-color: var(--lineborder-empty);
  position: absolute;
  transform: translateX(14px);
  height: 700px;
  width: 4px;
  z-index: -1;
}

.lineprogress-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 60px;
  /* max-height: 100%; */
  height: 700px;
  position: relative;
  padding: 0px 130px;
}

.lineprogress {
  background-color: var(--lineborder-fill);
  position: absolute;
  transform: translateX(14px);
  height: 0px;
  width: 4px;
  z-index: -1;
  /* transition: 1.9s ease; */
}

.number {
  background-color: white;
  color: var(--lineborder-empty);
  text-decoration: solid;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 5px solid var(--lineborder-empty);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.9s ease;
}

.number.active {
  border-color: rgb(14, 131, 14);
}

.btn {
  background-color: black;
  color: ivory;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 25px;
  margin: 30px;
  font-size: 17px;
}

.btn:active {
  transform: scale(0.8);
}
.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.btn:focus {
  outline: 0;
}
