@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 150vh;
  overflow-x: hidden;
  background: black;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkgray;
    width: 70%;
    height: 10%;
    margin-top: 200px;  

}

.boxes{
    display: flex;
    background: gray;
    width: 95%;
    height: 90%;
   
}

.box{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
}
.box span{
    position: relative;
    top: 4px;
    /* left: 6px; */
    font-size: 12px;
    font-style: italic;
}

.counter{
    position: absolute;
    font-size: 40px;
    margin-bottom: 10px;
    top: 5px;
    display: inline;
    left: 0px;
}
.icon{
    position: absolute;
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 5px;
    left: 109px;
    /* right: 50px; */
}
.icon small{
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 1250px) {
    .boxes {
      flex-direction: column;
    }
    .box{
        margin-top: 100px;
        top: -90px;
    }
    .box span{
        top: 45px;
        /* flex-wrap: wrap; */
    }
    .container{
        height: 50%;
        width: 25%;
    }

  }

  
  